*{
padding: 0;
margin: 0;
box-sizing: auto;
text-decoration: none;
list-style-type: none;
}
.body{
    width: 100%;
    height: 100vh;
    background: url("C:\Users\LissaKariuki\30days\comeback\images\pexels-christina-morillo-1181359.jpgimages/pexels-christina-morillo-1181359.jpg");
    background-size: cover;
}
#logo{
    font-size: 2.2rem;
    color: #fff;
    font-style: italic;
    font-weight: bold;
}
.nav{ 
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
}
 nav ul{
    display:flex;
    gap: 2rem;
 }
 nav ul li a { 
    color: greenyellow;
    font-size: 1.2rem;
    font-style: italic;
    padding: 0.8rem;
    transition: all 0.4s 
 }

